{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "ignore": "test/" }]
      ]
    }
  }
}
