{
  "presets": [
    ["latest", {
      "es2015": { "modules": false, "loose": true }
    }]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
